body {
	padding: 0;
	margin: 0;
	background: rgb(97,97,97);
	background: linear-gradient(335deg, rgb(47, 47, 47) 0%, rgba(0,0,0,1) 100%);
	height: 100%;
	width: 100%;
	overscroll-behavior: contain;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#cv {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
#cv canvas {
	margin: auto;
	overflow: hidden;
	top: 0;
	left: 0;
	object-fit: contain;
	object-position: center;
	max-width: 100%;
	max-height: 100%;
}
